#project {
    font-size: 20px;
    color: rgb(129, 142, 143);
    text-align: center;
    width: 100%;
    max-height: 180px;
    min-height: 180px;
    display: flex;
}

img {
    border: 2px;
    border-color: rgb(129, 142, 143);
    width: 450px;
    height: 300px;
    border-style: solid;
}

#container-img {
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
#project_con{
    height: 80%;
    width: 80%;
    border: none;
}

#logo {
    width: 140px;
    height: 140px;
    display: inline;
    border-style: none;
}
#project_img:hover {
    color: #fff;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0 0 5px  rgb(129, 142, 143),
      0 0 25px rgb(129, 142, 143),
      0 0 50px rgb(129, 142, 143),
      0 0 100px rgb(129, 142, 143);
}
